{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row" id="form-row">
        <div class="col-md-6" id="form-col">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <fieldset>
                        {{ form.email.label }}
                        {{ form.email(class = "form-control") }}
                    </fieldset>
                    <fieldset>
                        {{ form.password.label }}
                        {{ form.password(class = "form-control") }}
                    </fieldset>
                    {{ form.submit_button(class = "btn btn-primary btn-block") }}
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="sign-up-row">
        <div class="col-md-3" id="sign-up-col">
          <a class="btn btn-outline-dark" href="/google" role="button" style="text-transform:none">
            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            Login with Google
          </a>
        </div>
      </div>
    <div class="row" id="sign-up-row">
        <div class="col-md-3" id="sign-up-col">
            Don't have an account? 
            <a href="{{ url_for('auth.signup') }}">Sign up</a>    
        
        </div>

    </div>
</div>

{% endblock content %}