{% extends 'base.html' %} 

{% block content %}

<div class="container" id="button-div">
    <div class="row">
        <div class="col-md-12" id="new-event-button">
            <a href="{{ url_for('site.newevent') }}" class="btn btn-primary" id="create-btn"><h4>Create an Event</h4></a>
        </div>
    </div>
</div>
<div class="events-container">
    {% for event in events %}
    <div class="row" id="events-row">
        <div class="card">
            <div class="card-body">
                {{event.title}}
                {{event.host}}
                {{event.day_time}}
                {{event.other}}
                <a href="{{ url_for('site.checkin', event_id=event.id) }}">Check in</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}