{% extends 'base.html' %}

{% block content %}
<div class="container" id="profile-container">
    {% for host_event in host_events %}
        <div class="row" id="profile-row">
            <div class="col-md-6" id="profile-col">
                <div class="card" id="profile-event-card">
                    <div class="card-body">
                        <h5 class="card-title">{{host_event.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{host_event.host}}</h6>
                        <h6 class="card-text">{{host_event.day}}</h6>
                        <h6 class="card-text">{{host_event.time}}</h6>
                        <h6 class="card-text">{{host_event.duration}} minutes</h6>
                        <h6 class="card-text">{{host_event.other}}</h6>
                        <h6 class="card-text">Passkey: {{host_event.passkey}}</h6>
                        <a href="{{ url_for('site.event', id=host_event.id) }}" class="card-link">View Attendees</a>
                        <a href="{{ url_for('site.deleteevent', id=host_event.id) }}" class="card-link" id="delete">Delete</a>
                        <a href="{{ url_for('site.addParticipant', id=host_event.id) }}" class="card-link">Add Participant</a>
                        <a href="{{ url_for('site.editevent', id=host_event.id, title=host_event.title, host=host_event.host, day=host_event.day, time=host_event.time, duration=host_event.duration, other=host_event.other, passkey=host_event.passkey) }}" class="card-link">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}