<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $(".close").click(function(){
        $(".alert").hide(1000);
      });
    });
</script>
<script src="https://kit.fontawesome.com/a0d3252441.js" crossorigin="anonymous"></script>
<title>Attendance Keeper</title>
</head>
<body>
    <div class="container" id="nav-container">
        {% if current_user.is_authenticated %}
        <div class="nav-div">
            <nav class="top nav">
                <div class="row" id="nav-links">
                    <div class="col-md-4" id="nav-col">
                        <a href="{{ url_for('site.home') }}" class="nav-link">HOME</a>
                    </div>
                    <div class="col-md-4" id="nav-col">
                        <a href="{{ url_for('site.profile') }}" class="nav-link">PROFILE</a>
                    </div>
                    <div class="col-md-4" id="nav-col">
                        <a href="{{ url_for('auth.logout') }}" class="nav-link">LOG OUT</a>
                    </div>
                </div>
            </nav>
        </div>
                      
        {% else %}
        <div class="small-nav-div">
            <nav class="top-nav">
                <div class="row" id="small-nav-links">
                    <div class="col-md-4" id="small-nav-col">
                        <a href="{{ url_for('site.home') }}" class="small-nav-link">HOME</a>
                    </div>
                    <div class="col-md-4" id="small-nav-col-hosts">
                        <a href="{{ url_for('auth.login') }}" class="btn btn-primary" id="small-nav-link-hosts">HOSTS</a>
                    </div>
                </div>
            </nav>
        </div>
        {% endif %}    
       
    </div>
    
    
    <div class="container" id="alert-container">
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for cat,msg in messages %}
                    {% if cat == 'user-created' %}
                        <div class="alert alert-success">
                            {{ msg }}
                            <button type="button" class="close" data-dismiss = "alert">&times;</button>
                        </div>
                    {% elif cat == 'auth-success' %}
                        <div class="alert alert-success">
                            {{ msg }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% elif cat == 'auth-failed' %}
                        <div class="alert alert-warning">
                            {{ msg }}
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% block content %}
    {% endblock content %}
    <!-- <div class="container" id="home-title">
        <div class="row" id="home-title-row">
            <div class="col-md-12" id="home-title-col">
                <h6 class="home-title-text"><em>In-process events will appear below.</em></h6>
            </div>
        </div>
    </div> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>