body {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#nav-container {
    width: 100%;
}

#nav-links {
    /* width: max-content; */
    margin: auto;
}

#nav-col {
    width: 200px;
    text-align: center
}

.nav-div {
    width: 75%;
    margin: 0 auto;
    margin-top: 10vh;
}

#button-div {
    width: 100%
}

#new-event-button {
    width: 50%;
    margin: 0 auto;
    margin-top: 10vh;
}

#nav-link {
    text-decoration: none;
    color:black;
}

#create-btn {
    width: 50%;
    margin-left: 25%;
} 

#event-container {
    margin-top: 10vh
}

#participant-list {
    margin-top: 10vh
}

.form-container {
    margin-top: 10vh;
    width: 100%
}

.checkin-container {
    margin-top: 10vh;
    width: 100%
}

.form-group {
    width: 50%;
    margin: 0 auto
}

.events-container {
    margin-top: 10vh;
    width: 100%
}

#events-row {
    text-align: center;
    width: 50%;
    margin: 0 auto
}