

body {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Homepage Title */

#home-title {
    width: 100%;
    margin-top: 5vh;
    position: relative;
    z-index: 0;
}

#home-title-row {
    text-align: center;
    font-family: monospace;
}

#home-title-col {
    width: 50%;
    margin: 0 auto
}

.home-title-text {
    font-size: 550%;
}

/* Alerts */

#alert-container {
    margin-top: 0vh;
    position: relative;
    z-index: 1;
}

.alert {
    margin-bottom: 0rem;
}

/* Nav */

.top-nav {
    width: 100;
}

#nav-container {
    max-width: 100%;
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row;    
}

#nav-links {
    /* width: 100%; */
    background-color: black;
    margin: 0 auto;
}

#nav-col {
    width: 200px;
    text-align: center
}

.nav-div {
    width: 75%;
    margin: 0 auto;
}

#nav-link {
    text-decoration: none;
    color:white;
}

/* Small Nav */

#small-nav-col {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#small-nav-col-hosts {
    color: white;
    text-align: center;
}

.small-nav-div {
    width: 50%;
    margin: 0 auto;
    justify-content: space-evenly;
}

#small-nav-links {
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    align-content: center;
    flex-direction: row;
} 

#small-nav-link {
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

#small-nav-link-hosts {
    background-color: gray;
    text-decoration: none;
    color: white;
}


/* Event Button */

#button-div {
    margin-top: 5vh;
    width: 100%;
}

#button-col {
    text-align: center;
}

#button-row {
    width: 50%;
    margin: 0 auto
}

/* event.html */

#event-container {
    margin-top: 10vh;
    width: 100%;
}



#event-title-row {
    width: 50%;
    margin: 0 auto
}

#event-participant-row {
    width: 50%;
    margin: 0 auto
}

#event-col {
    margin: 0 auto
}

#event-participant-col {
    margin: 0 auto
}

#participant-list {
    margin-top: 10vh;
    
}

.form-container {
    margin-top: 5vh;
    width: 100%
}

.checkin-container {
    margin-top: 10vh;
    width: 100%
}

.form-group {
    width: 50%;
    margin: 0 auto
}

#participant-card {
    margin-bottom: 3vh;
}

/* index.html */

.events-container {
    margin-top: 10vh;
    width: 100%
}

#events-row {
    width: 50%;
    margin: 0 auto
}

#events-col {
    margin: 0 auto;
}

/* Profile */

#profile-event-card {
    margin-top: 5vh;
}

#profile-container {
    width: 100%
}

#profile-row {
    width: 50%;
    margin: 0 auto;
    
}

#profile-col {
    margin: 0 auto;
}

#delete {
    color: white;
    background: red;
    margin-right: 2vw;
}

#edit {
    color: black;
    background: yellow;
    margin-right: 2vw;
}

#calculate-link {
    color: green;
}

#form-row {
    width: 100%;
    margin-top: 5vh
}

#form-col {
    width: 50%;
    margin: 0 auto
}

/* Log in */

#sign-up-row {
    margin-top: 5vh;
    width: 100%;
}

#sign-up-col {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}