body {
    color: black;
}

#nav-container {
    width: 100%;
}

.nav-div {
    width: 50%;
    margin: 0 auto;
}

#button-div {
    width: 100%
}

.new-event-button {
    width: 50%;
    margin: 0 auto;
}